/* Sitewide */
html, body {
  height: 100%;
}
.wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
body {
  color: white;
  margin: 0;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.body {
  height: 100%;
}
h1 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: .5em;
}
.pbody {
  width: 80%;
  text-align: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  padding: 1em;
  line-height: 1em;
  border: 2px solid #2A2A72;
}

.headertext {
  width: 80%;
  text-align: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: white;
  padding: 1em;
  line-height: 1em;
}


/* Nav Styles */
.navul {
  margin: 0;
  padding: .5em;
  background-color: #2A2A72;
}
.navul a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  padding-left: .5em;
  padding-right: .5em;
}
.navul a:hover {
  text-decoration: underline;
  color: #B6DAED;
}
.navul li {
  list-style: none;
  display: inline;
}
.navsep {
  border: 2px solid white;
  width: 60%;
}
/* Footer styles */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #B6DAED;
  color: black;
  right: 0;
  float: left;
  clear: none;
  flex: 1;
}
.linkicons {
  padding: .5em;
}
.linkicons i {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.linkicons a {
  text-decoration: none;
  margin-right: 5px;
  color: black;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.linkicons a:hover {
  text-decoration: underline;
  text-decoration-color: #2A2A72;
}
/* Index styles */
.headerimg {
  height: auto;
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  text-align: center;
}
.imgdiv {
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin: 2em;
}
.body {
  background: #B6DAED;
  background: linear-gradient(to top, #B6DAED, #2A2A72);
  padding: 1em;
}

/* Link styles*/
.linksdiv {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 80%;
  padding: 2em;
  border: 2px solid #2A2A72;
}
.linksdiv i {
  padding: 5px;
}
.linksdiv a {
  text-decoration: none;
  margin-bottom: 5px;
  color: #2A2A72;
  padding-right: 1em;
  font-size: 1em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.linksdiv a:hover {
  text-decoration: underline;
  text-decoration-color: #2A2A72;
}

/* Contact styles*/

.form-input {
  font-size: 1.2em;
  width: 50%;
  margin: 1em;
  background-color: #B6DAED;
  border: #B6DAED;
}
.form-input:hover {
  background-color: red;
}
.form-label {
  color: #B6DAED;
  margin-right: auto;
  text-align: left;
  width: 50%;
  margin-left: auto;
  font-size: 2em;
  padding: 10px;
  text-decoration: bold;
  display: inline-block;
}
.form-textarea {
  width: 50%;
  height: 12em;
}
.contactform {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
  }
/* Project styles*/

.project {
  width: 80%;
  text-align: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 1em;
  line-height: 1em;
  border: 2px solid #2A2A72;
}

/* Resume styles*/

/* Skills styles */

.skills {
  width: 80%;
  text-align: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 1em;
  line-height: 1em;
  border: 2px solid #2A2A72;
}

/* Media Queries */
