/* Sitewide */
html, body {
  height: 100%;
  font-family: 'Inter', serif;
}
.wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
body {
  margin: 0;
}
h1 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 1em;
  font-size: 3em;
}
.pbody {
  width: 80%;
  text-align: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  padding: 1em;
  line-height: 1em;
  border: 2px solid #2A2A72;
}

.headertext {
  width: 80%;
  text-align: inherit;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 1em;
  line-height: 1em;
}
.spacer {
  margin: 4em;
}
/* Nav Styles */
.navul {
  margin: 0;
  padding: .5em;
  background-color: #2A2A72;
}
.navul a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  padding-left: .5em;
  padding-right: .5em;
}
.navul a:hover {
  text-decoration: underline;
  color: #B6DAED;
}
.navul li {
  list-style: none;
  display: inline;
}
.navsep {
  border: 2px solid white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* Footer styles */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #B6DAED;
  color: black;
  right: 0;
  float: left;
  clear: none;
  flex: 1;
}
.linkicons {
  padding: .5em;
}
.linkicons i {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.linkicons a {
  text-decoration: none;
  margin-right: 5px;
  color: black;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.linkicons a:hover {
  text-decoration: underline;
  text-decoration-color: #2A2A72;
}
/* Index styles */
.headerimg {
  height: auto;
  margin: 2em;
  margin-left: auto;
  display: inline;
  margin-right: auto;
  width: 250px;
  text-align: center;
}
.imgdiv {
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin: 2em;
}
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin: 0;
  background-color: #B6DAED;
  background: linear-gradient(to top, #B6DAED, #2A2A72);
  height: 100%;
  font-family: 'Inter', serif;
}
.audioplayer {
  padding-bottom: 1em;
}
.audiodiv {
  margin: 1em;
  line-height: 2em;
}
.gallery {
  margin: 1em;
}
.gallery img {
  width: 100%;
  height: auto;
}
/* Link styles*/
.linksdiv {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 80%;
  padding: 2em;
  border: 2px solid #2A2A72;
}
.linksdiv i {
  padding: 5px;
}
.linksdiv a {
  text-decoration: none;
  margin-bottom: 5px;
  color: #2A2A72;
  padding-right: 1em;
  font-size: 1em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.linksdiv a:hover {
  text-decoration: underline;
  text-decoration-color: #2A2A72;
}

/* Contact styles*/

.form-input {
  font-size: 1.2em;
  width: 50%;
  margin: 1em;
  background-color: #B6DAED;
  border: #B6DAED;
}
.form-input:hover {
  background-color: red;
}
.form-label {
  color: #B6DAED;
  margin-right: auto;
  text-align: left;
  width: 50%;
  margin-left: auto;
  font-size: 2em;
  padding: 10px;
  text-decoration: bold;
  display: inline-block;
}
.form-textarea {
  width: 50%;
  height: 12em;
}
.contactform {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
  }
/* Project styles*/

.project {
  width: 80%;
  text-align: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  color: white;
  padding: 1em;
  line-height: 1em;
  border: 2px solid #2A2A72;
  overflow: auto;
}

.projectpy {
  display: flex;
  flex-direction: row;
  width: 80%;
  text-align: inherit;
  margin-left: auto;
  margin-right: auto;
}

.projectpy img {
  width: 600px;
  border: 2px solid black;
}

.projectsub {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex: 1 1 0px;
}

.pcode {
  text-align: justify;
  margin: 1em;
  margin-bottom: 50px;
  color: black;
  padding: 1em;
  line-height: 1em;
}
/* Resume styles*/
table, th, td {
  border: 1px solid;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}

table {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* Skills styles */

.skills {
  width: 80%;
  text-align: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 1em;
  line-height: 1em;
  border: 2px solid #2A2A72;
}

/* Media Queries */
